@import "lxgw-wenkai-screen-webfont/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@layer components {
  :root {
    text-autospace: normal;
    font-size: 17px;
  }
  body {
    @apply leading-relaxed;
  }
  code,
  pre {
    text-autospace: no-autospace;
  }
  article {
    p {
      @apply my-4 leading-relaxed;
    }
    h1 {
      @apply mb-4 mt-6 text-2xl font-semibold dark:text-white;
    }
    h2 {
      @apply mb-3 mt-6 border-b pb-2 text-xl font-semibold dark:border-zinc-700 dark:text-white;
    }
    h3 {
      @apply mb-3 mt-6 text-lg font-semibold dark:text-white;
    }
    h4 {
      @apply mb-2 mt-4 text-base font-semibold dark:text-white;
    }
    h5 {
      @apply mb-2 mt-4 text-sm font-semibold dark:text-white;
    }
    h6 {
      @apply mb-2 mt-4 text-sm font-medium dark:text-white;
    }
    :not(pre) > code {
      @apply whitespace-nowrap rounded border bg-zinc-200/50 px-1 py-0.5 font-mono text-sm font-medium text-black dark:border-zinc-700 dark:bg-zinc-800/50 dark:text-white;
    }
    pre:has(code) {
      @apply my-4 max-h-[600px] overflow-auto rounded-lg border p-4 font-mono text-sm font-medium dark:border-zinc-700;
    }
    img {
      @apply my-4 rounded-lg border dark:border-zinc-700;
    }
    video {
      @apply my-4 rounded-lg border dark:border-zinc-700;
    }
    blockquote {
      @apply my-4 border-l-2 pl-4;
    }
    a {
      @apply text-blue-500 underline;
    }
    table {
      @apply my-4 w-full table-auto border-collapse text-sm;
      th {
        @apply border-b p-4 text-left font-medium dark:border-zinc-700;
      }
      td {
        @apply border-b bg-zinc-50 p-4 dark:border-zinc-700 dark:bg-zinc-800;
      }
    }
    ol {
      @apply my-1 list-inside list-decimal space-y-1 [&_ol]:pl-5 [&_ul]:pl-5;
    }
    ul {
      @apply my-1 list-inside list-disc space-y-1 [&_ol]:pl-5 [&_ul]:pl-5;
    }
    kbd {
      @apply rounded border border-b-2 bg-zinc-100 px-1 py-0.5 font-mono text-xs font-medium text-black dark:border-zinc-700 dark:bg-zinc-800 dark:text-white;
    }
    mark {
      @apply dark:bg-yellow-500/50 dark:text-white;
    }
  }
}
